@import '../../GlobalStyles/variables.scss';

.Card {
    position: relative;
    max-height: 500px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 5px 5px 20px #000;
    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.05);
    }

    &__Img {
        text-align: center;
        resize: cover;

        img {
            height: 150px;
        }
    }

    &__Content {
        padding: 20px 20px;

        &_Title {
            margin: 0;
            font-size: $med-text;
        }

        &_Text {
            font-size: $std-text;
        }
    }
}

.Buttons {
    margin-top: 40px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
        height: 50px;
        text-align: center;
        text-decoration: none;
        padding: 15px;
        border: 2px solid #000;
        border-radius: 4px;
        color: #000;
        transition: background 0.25s ease;

            &:hover {
                background-color: #000;
                color: #fff;
                transition: background 0.25s ease;
            }
    }
}

.Buttons__Center {
    position: relative;
    margin-top: 40px;
    top: 100%;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    a {
        height: 50px;
        text-align: center;
        text-decoration: none;
        padding: 15px;
        border: 2px solid #000;
        border-radius: 4px;
        color: #000;
        transition: background 0.25s ease;

            &:hover {
                background-color: #000;
                color: #fff;
                transition: background 0.25s ease;
            }
    }
}